<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="/jquery.counter/jquery.counter-analog.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/jquery.counter/jquery.counter-analog2.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/jquery.counter/jquery.counter-analog3.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
