<!doctype html>
<html lang="en">
  <head>
    <title>Slidecast - Enter Password</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Enter Password</h1>
      <p>Please enter the password in order to prove that you are the presenter.</p>
      <p>This is the password that you chose when you registered the presentation.</p>

      <form method="post">
        <div class="form-group">
          <label for="password">Password</label>
          <input id="password" name="password" class="form-control" type="password" />
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
</html>
