<% if (isPresenter && presenterKey) { %>
  <a id="slidecast-data" data-pres-id="<%= presId %>" data-presenter="true" data-presenter-key="<%= presenterKey %>"></a>
<% } else { %>
  <a id="slidecast-data" data-pres-id="<%= presId %>"></a>
<% } %>

<div id="slidecast-overlay" 
     style="position: absolute; top: 10px; left: 10px; height: 40px; width: 310px; background-color: rgba(255,0,0,0.3);">
  <form id="slidecast-form">
    <input id="slidecast-comment"
            type="text" 
            maxlength="100"
            placeholder="コメント" 
            style="width: 250px; margin: 10px;"
            ></input>
    <input id="slidecast-show-comments"
            type="checkbox"
            checked
            title="コメント表示"/>
    <input id="slidecast-emoticon"
            type="hidden"
            value=""/>

    <!-- Button trigger modal -->
    <a href='#' data-toggle="modal" data-target="#myModal"><img src='/images/emoticons/png/bye-bye-smiley-emoticon.png'></a>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <div class="row">
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/about-to-puke-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/after-boom-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/amazement-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/amorous-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/annoyed-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/anxious-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/arab-wearing-a-keffiyeh-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/argh-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/bad-smile-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/badly-beaten-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/big-surprise-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/black-and-shocked-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/blank-expression-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/blank-look-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/bleeding-nose-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/bored-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/bright-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/bye-bye-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/come-on-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/confident-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/confused-and-confounded-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/cool-dude-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/crying-out-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/discouraged-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/do-me-a-favor-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/dollar-signs-on-eyes-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/dripping-saliva-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/drooling-in-anticipation-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/dumb-look-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/electrocuted-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/excited-facial-expression-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/fighting-through-the-pain-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/fine-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/flabbergasted-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/flattered-look-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/frowning-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/get-out-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/got-a-problem-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/haha-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/hatched-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/hit-by-love-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/hush-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/i-cant-look-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/i-dont-know-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/im-gonna-get-you-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/im-smart-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/impressed-devil-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/in-doubt-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/irate-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/keep-an-eye-on-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/love-kiss-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/mean-blue-face-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/mean-face-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/mortified-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/munching-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/never-mind-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/not-happy-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/oh-well-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/on-the-move-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/pass-out-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/peevish-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/regretful-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/resentment-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/river-of-tears-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/roar-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/sad-bug-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/sexy-lip-bite-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/shamed-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/shocked-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/shy-girl-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/silly-face-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/silly-look-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/slumber-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/smart-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/snarling-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/so-what-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/sore-eye-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/sorry-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/sour-face-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/staring-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/startled-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/stunned-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/surprised-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/surprised-snake-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/take-my-heart-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/the-big-boss-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/unhappy-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/unimpressed-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/unsure-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/very-sure-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/what-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/wink-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/wondering-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
              <div class='col-lg-2 col-sm-3 col-xs-4 emoticon'><a href='#' class='thumbnail'><img src='/images/emoticons/png/yikes-smiley-emoticon.png' class='img-responsive' data-dismiss='modal'></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div id="slidecast-scratchpad" style="visibility: hidden;"></div>

<div style="position: absolute; top: 10px; right: 10px; background-image: url(/images/viewer.png); background-repeat: no-repeat; padding-left: 40px;">
  <span id="viewer_count" class="counter-analog3">00</span>
</div>

<script src="/socket.io/socket.io.js"></script>

<% if (mobile) { %>
  <script src="/javascripts/slidecast.mobile.js"></script>
<% } else { %>
  <script src="/javascripts/slidecast.embed.js"></script>
<% } %>
<script src="/javascripts/slidecast.common.js"></script>

<script src="/jquery.counter/jquery.counter.js"></script>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script>
  $("head").append("<link>");
  css = $("head").children(":last");
  css.attr({
    rel: "stylesheet",
    type: "text/css",
    href: "/jquery.counter/jquery.counter-analog3.css"
  });
  $('#viewer_count').counter({
    initial: '00',
    direction: 'up',
    interval: '1',
    format: '99',
    stop: '00'});
</script>
