<% if (isPresenter && presenterKey) { %>
  <a id="slidecast-data" data-pres-id="<%= presId %>" data-presenter="true" data-presenter-key="<%= presenterKey %>"></a>
<% } else { %>
  <a id="slidecast-data" data-pres-id="<%= presId %>"></a>
<% } %>

<div id="slidecast-overlay" 
     style="position: absolute; top: 10px; left: 10px; height: 40px; width: 276px; background-color: rgba(255,0,0,0.3);">
  <form id="slidecast-form">
    <input id="slidecast-comment"
             type="text" 
             maxlength="100"
             placeholder="コメント" 
             style="width: 250px; margin: 10px;"
             ></input>
  </form>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/slidecast.slideshare.js"></script>
