<% if (isPresenter && presenterKey) { %>
  <a id="slidecast-data" data-pres-id="<%= presId %>" data-presenter="true" data-presenter-key="<%= presenterKey %>"></a>
<% } else { %>
  <a id="slidecast-data" data-pres-id="<%= presId %>"></a>
<% } %>

<div id="slidecast-overlay" 
     style="position: absolute; top: 10px; left: 10px; height: 40px; width: 310px; background-color: rgba(255,0,0,0.3);">
  <form id="slidecast-form">
    <input id="slidecast-comment"
            type="text" 
            maxlength="100"
            placeholder="コメント" 
            style="width: 250px; margin: 10px;"
            ></input>
    <input id="slidecast-show-comments"
            type="checkbox"
            checked
            title="コメント表示"/>
  </form>
</div>

<div id="slidecast-scratchpad" style="visibility: hidden;"></div>

<div id="slidecast-overlay" 
     style="position: absolute; top: 60px; left: 10px; background-image: url(/images/viewer.png); background-repeat: no-repeat; padding-left: 40px;">
  <span id="viewer_count" class="counter-analog3">00</span>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/slidecast.slideshare.js"></script>
<script src="/jquery.counter/jquery.counter.js"></script>

<script>
  $("head").append("<link>");
  css = $("head").children(":last");
  css.attr({
    rel: "stylesheet",
    type: "text/css",
    href: "/jquery.counter/jquery.counter-analog3.css"
  });
  $('#viewer_count').counter({
    initial: '00',
    direction: 'up',
    interval: '1',
    format: '99',
    stop: '00'});
</script>
